{% extends 'base.html' %}
{% block title %}
    Change Password
{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="p-4 m-4">
        <div class="col-lg-5 rounded mx-auto border pt-4">
            <h1>Change Password Here</h1>
            <hr>
            {% if success_message %}
                <div class="alert alert-success">
                    {{ success_message }}
                </div>
            {% elif error_message %}    
            <div class="alert alert-danger">
                {{ error_message }}
            </div>
            {% endif %}    
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="old-password" class="form-label">Old Password</label>
                    <input type="password" class="form-control" id="old-password" name="old-password">
                </div>
                <div class="mb-3">
                    <label for="new-password" class="form-label">New Password</label>
                    <input type="password" class="form-control" id="new-password" name="new-password">
                </div>
                <div class="mb-3">
                    <label for="confirm-password" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="confirm-password" name="confirm-password">
                </div>
                <button type="submit" class="btn btn-primary col-12">Change</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
