{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="container">
    <div class="border rounded p-4 m-4">
        {% for post in posts %}
            <div class="rounded mx-auto border p-4 m-4">
                <a href="{% url 'post-details' %}?id={{ post.id }}">
                    <h2>{{ post.title }}</h2>
                </a>
                <p>{{ post.description }}</p>
                <p>{{ post.created_at }}</p>
                <p><b>By: </b>{{ post.author.first_name }} {{ post.author.last_name }}</p>
                {% if post.likes.count > 1 %}
                    <p>{{ post.likes.count }} Likes</p>
                {% else %}
                    <p>{{ post.likes.count }} Like</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}